---
---

ul,
ol {
  margin: 0px 0;
  padding-left: 30px;
}

ul {
  list-style-type: square;
}

li {
  margin: 20px 0;
  padding-left: 10px;
  text-align: justify;
  line-height: var(--spacing);

  ul,
  ol {
    margin: 0;
  }
}
